body {
    background: #F8F9FA;
    font-family: 'Montserrat', sans-serif;
}

.login {
    background-color: #F4F4F4;
    border: 2px solid #BDBDBD;
    border-radius: 5px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    width: 80%;
    margin-top: 80px;

}

.login h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 28px;
}

.login p {
    margin-bottom: 10px;
    font-size: 18px;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
    flex-basis: 48%;
}

.form-group label {
    font-size: 16px;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    font-size: 18px;
}

#dropdown {
    margin-bottom: 10px;
}

.btn {
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: #FF5722;
    border-color: #FF5722;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: #E64A19;
    border-color: #E64A19;
}

select {
    transition: all 0.2s ease-in-out;
    padding-right: 30px;
}

select:hover {
    transform: scale(1.05);
}

select:focus {
    transform: scale(1.05);
    padding-right: 50px;
}