<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Its Pipe Game Result Prediction</title>
	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
	<div class="login">
		<h2 class="text-center text-danger">Predicción de resultados de Its Pipe Game</h2>
		<p class="text-center text-secondary"><b>{{ prediction_text }}</b></p>
		<p class="text-center text-secondary">Introduce los campos solicitados:</p>
		<form action="{{url_for('predict')}}" method="post" class="row form-container">
			<div class="col-sm-6 form-group">
				<label>Asesinatos conseguidos</label>
				<input type="number" name="kill" placeholder="Kill" required="required" class="form-control" min="0"
					max="50">
				<label>Veces asesinado</label>
				<input type="number" name="death" placeholder="Death" required="required" class="form-control" min="0"
					max="30">
				<label>Asistencias realizadas</label>
				<input type="number" name="assist" placeholder="Assist" required="required" class="form-control" min="0"
					max="100">
				<label>Tipo de partida</label>
				<select id="dropdown" name="game_type" class="form-control">
					<option value="0">Normal</option>
					<option value="1">ARAM</option>
					<option value="2">Rango 5:5 Flex</option>
					<option value="3">Clasificatoria Solo 5vs5</option>
				</select>
			</div>
			<div class="col-sm-6 form-group">
				<label>Torres destruidas por el equipo</label>
				<input type="number" name="tower" placeholder="Towers" required="required" class="form-control" min="0"
					max="20">
				<label>Minion totales</label>
				<input type="number" name="baron" placeholder="Baron" required="required" class="form-control" min="0"
					max="500">
				<label>Barones Realizados</label>
				<input type="number" name="dmg_dealt" placeholder="dmg dealt" required="required" class="form-control"
					min="0" max="5">
				<label>Campeon</label>
				<select id="dropdown" name="champion" class="form-control custom-select">
					<option value="0">Zed</option>
					<option value="1">Kayn</option>
					<option value="2">Vex</option>
					<option value="3">Veigar</option>
					<option value="4">Fizz</option>
					<option value="5">LeBlanc</option>
					<option value="6">Vi</option>
					<option value="7">Sejuani</option>
					<option value="8">Sylas</option>
					<option value="9">Elise</option>
				</select>
			</div>
			<div class="col-sm-6 form-group">
				<label>&nbsp;</label> <!-- Fila vacía para crear espacio -->
			</div>
			<div class="col-12 text-center mt-3">
				<button type="submit" id="submit-btn" class="btn btn-primary btn-lg btn">Predecir resultado</button>
			</div>
		</form>
	</div>
</body>

</html>